.card {
  overflow: hidden;
  border: 2px solid transparent;
  border-radius: 8%;
  padding: 2%;
  &__avatar {
    border-radius: 6%;
    height: 100%;
    width: 100%;
    object-position: center center;
    object-fit: cover;
  }
  &__details {
    display: grid;
  }
  &__name-gender {
    display: flex;
  }
  &__status {
    display: flex;
    align-items: baseline;
  }
  &__alive {
    margin-right: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: green;
  }
  &__dead {
    margin-right: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: darkred;
  }
  &:focus {
    outline: none !important;
    border: 4px solid #bebc0a;
    background: rgba(0, 0, 0, 0.2);
  }
}

.active-card {
  transform: scale(1.1);
  animation: scaleOut ease;
  animation-duration: 500ms;
}

@keyframes scaleOut {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.1);
  }
}
