.card {
  display: flex;
  border: 2px solid transparent;
  padding: 2%;
  position: relative;
  &__active {
    animation: scaleOut ease-in-out;
    animation-duration: 500ms;
  }
  &__avatar {
    display: flex;
    overflow: hidden;
    img {
      display: block;
      margin: auto;
      width: 100%;
    }
  }
  &__summary {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 2%;
    top: 2%;
    z-index: 10;
    width: 96%;
    height: 96%;
    background: rgba(0, 0, 0, 0.8);
    &__name {
      color: #ffeb3b;
    }
  }
  &:focus {
    outline: none !important;
    border: 2px solid #ffeb3b;
    background: rgba(0, 0, 0, 0.2);
  }
  &:hover {
    outline: none !important;
    border: 2px solid #d2d2d2;
  }
  &:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(16/16 * 100%);
  }
}

@keyframes scaleOut {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.05);
  }
  0% {
    transform: scale(1.0);
  }
}
