.navbar {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 100px auto;
  //margin-bottom: 16px;
  height: 52px;
  border-bottom: 2px solid #bebc0a;
  background: #fff;
  font-weight: 500;
  &__ayoola {
    //background: black;
    //color: #ffffff;
    //height: 100%;

  }
  &__title {
    font-size: 24px;
    cursor: pointer;
  }
}
